{% extends './base.html' %}

{% block title %} Inicio {% endblock %}

{% block body %}
<div style="margin:auto; text-align: center;">
    <h3 class="m-auto">Bienvenido a la biblioteca municipal</h3>
    <p>
        Sistema bibliotecario , aqui puedes guardar tus libros con sus actores, y un mantenedor de usuarios.
       </p>
       <img src="https://images.unsplash.com/photo-1495446815901-a7297e633e8d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="sin img"/>

</div>
{% endblock %}